@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?6kdbzr");
  src: url("../fonts/icomoon/icomoon.eot?6kdbzr#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?6kdbzr") format("truetype"), url("../fonts/icomoon/icomoon.woff?6kdbzr") format("woff"), url("../fonts/icomoon/icomoon.svg?6kdbzr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media (min-width: 576px) {
  body {
    background: url("../images/site-bg.jpg") no-repeat top center/cover; }
  .cv-container {
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2); } }

a {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none; }

.cv-wrapper {
  position: relative;
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden; }
  @media (min-width: 576px) {
    .cv-wrapper {
      padding-top: 3rem;
      padding-bottom: 3rem; } }
  @media (min-width: 992px) {
    .cv-wrapper {
      padding-top: 5rem;
      padding-bottom: 5rem; } }

header,
main,
footer {
  position: relative; }

.cv-header {
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media (max-width: 991px) {
    .cv-header {
      padding-bottom: 2.5rem; } }
  .cv-header::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: -2rem;
    right: -2rem;
    width: auto;
    height: 0;
    border-bottom: 2px solid #2e2e2e; }
    @media (max-width: 991px) {
      .cv-header::before {
        left: 0;
        right: 0; } }
  .cv-header img {
    display: block;
    width: 255px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    -webkit-box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%; }
    @media (max-width: 991px) {
      .cv-header img {
        margin-bottom: 2rem; } }
  .cv-header h1 {
    margin: 0.5rem 0 2rem;
    color: #2e2e2e;
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
    @media (max-width: 1199px) {
      .cv-header h1 {
        font-size: 3.5rem; } }
    @media (max-width: 991px) {
      .cv-header h1 {
        text-align: center; } }
    @media (max-width: 767px) {
      .cv-header h1 {
        font-size: 3rem; } }
  .cv-header .cv-contact-links a,
  .cv-header .cv-contact-links span {
    display: inline-block;
    margin: 0.5rem 0;
    color: #333;
    font-size: 1.125rem;
    font-family: "Open Sans", sans-serif; }
    .cv-header .cv-contact-links a::before,
    .cv-header .cv-contact-links span::before {
      color: #990000;
      font: normal 1.25em/1 'icomoon';
      margin-right: 0.5rem;
      vertical-align: -3px; }
  .cv-header .cv-contact-links a:hover, .cv-header .cv-contact-links a:focus {
    color: #990000; }
  .cv-header .cv-contact-links .cv-phone-link::before {
    content: '\e906'; }
  .cv-header .cv-contact-links .cv-email-link::before {
    content: '\e901'; }
  .cv-header .cv-contact-links .cv-address::before {
    content: '\e905'; }
  .cv-header .cv-contact-links .cv-website::before {
    content: '\e903'; }

@media (min-width: 992px) {
  .cv-main .cv-main-row:last-child .cv-main-col {
    padding-bottom: 0; } }

@media (max-width: 991px) {
  .cv-main .cv-main-row:last-child .cv-main-col:last-child {
    padding-bottom: 0; }
    .cv-main .cv-main-row:last-child .cv-main-col:last-child::before {
      display: block;
      content: '';
      z-index: 0;
      position: absolute;
      bottom: -16.125rem;
      left: -4px;
      width: 4px;
      height: 16.125rem;
      background-color: #2e2e2e; } }
    @media (max-width: 991px) and (max-width: 767px) {
      .cv-main .cv-main-row:last-child .cv-main-col:last-child::before {
        bottom: -16.125rem;
        height: 16.125rem; } }

.cv-main .cv-main-col {
  padding-bottom: 1.75rem; }
  @media (max-width: 991px) {
    .cv-main .cv-main-col {
      padding-bottom: 1.25rem; } }

.cv-main .cv-main-gutter-right {
  padding-right: 2rem;
  border-right: 1px solid #2e2e2e; }
  @media (max-width: 991px) {
    .cv-main .cv-main-gutter-right {
      padding-left: 2rem;
      border-left: 4px solid #2e2e2e;
      border-right: 0; } }
  @media (max-width: 575px) {
    .cv-main .cv-main-gutter-right {
      border: 0; } }

.cv-main .cv-main-gutter-left {
  padding-left: 2rem;
  border-left: 1px solid #2e2e2e; }
  @media (max-width: 991px) {
    .cv-main .cv-main-gutter-left {
      padding-right: 2rem;
      border-left-width: 4px; } }
  @media (max-width: 575px) {
    .cv-main .cv-main-gutter-left {
      border: 0; } }

.cv-main .cv-main-points {
  position: relative; }
  .cv-main .cv-main-points::before, .cv-main .cv-main-points::after {
    content: '';
    z-index: 1;
    position: absolute;
    border-radius: 50%; }
  .cv-main .cv-main-points::before {
    top: 0;
    right: -14px;
    width: 26px;
    height: 26px;
    background-color: #2e2e2e; }
    @media (max-width: 991px) {
      .cv-main .cv-main-points::before {
        left: -15px;
        right: auto; } }
    @media (max-width: 575px) {
      .cv-main .cv-main-points::before {
        display: none; } }
  .cv-main .cv-main-points::after {
    top: 3px;
    right: -11px;
    width: 20px;
    height: 20px;
    background-color: #fff; }
    @media (max-width: 991px) {
      .cv-main .cv-main-points::after {
        left: -12px;
        right: auto; } }
    @media (max-width: 575px) {
      .cv-main .cv-main-points::after {
        display: none; } }

.cv-main .cv-main-icon {
  position: relative; }
  @media (min-width: 576px) and (max-width: 767px) {
    .cv-main .cv-main-icon.cv-skills-icon, .cv-main .cv-main-icon.cv-hobbies-icon {
      padding-right: 1rem;
      padding-left: 1rem; }
    .cv-main .cv-main-icon.cv-skills-icon .has-point::before {
      left: -26px; } }
  .cv-main .cv-main-icon::after {
    z-index: 2;
    position: absolute;
    top: 6px;
    left: -8.5px;
    color: #2e2e2e;
    font: normal 14px/1 'icomoon'; }
    @media (max-width: 991px) {
      .cv-main .cv-main-icon::after {
        top: -74px;
        left: -9px; } }
    @media (max-width: 767px) {
      .cv-main .cv-main-icon::after {
        top: -66px; } }
    @media (max-width: 575px) {
      .cv-main .cv-main-icon::after {
        display: none; } }

.cv-main .cv-profile-icon::after {
  content: '\e908'; }

.cv-main .cv-work-icon::after {
  content: '\e900'; }

.cv-main .cv-education-icon::after {
  content: '\e907'; }

.cv-main .cv-skills-icon::after {
  content: '\e90a'; }

.cv-main .cv-hobbies-icon::after {
  content: '\e909'; }

.cv-main .has-point {
  position: relative; }
  .cv-main .has-point::before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 4px;
    left: -41px;
    width: 16px;
    height: 16px;
    background-color: #2e2e2e;
    border-radius: 50%; }
    @media (max-width: 991px) {
      .cv-main .has-point::before {
        left: -42px; } }
    @media (max-width: 575px) {
      .cv-main .has-point::before {
        display: none; } }

.cv-main h2,
.cv-main h3 {
  margin-bottom: 1.25rem;
  color: #2e2e2e;
  font: 700 1.5rem/1.2 "Raleway", sans-serif;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .cv-main h2,
    .cv-main h3 {
      font-size: 1.375rem;
      line-height: 1.25; } }

.cv-main h2 {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0.025em;
  text-align: right; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .cv-main h2 {
      font-size: 2rem; } }
  @media (max-width: 767px) {
    .cv-main h2 {
      font-size: 2rem; } }
  @media (max-width: 991px) {
    .cv-main h2 {
      position: relative;
      text-align: left; }
      .cv-main h2::after {
        display: block;
        content: '';
        position: absolute;
        bottom: -1.25rem;
        left: -2rem;
        width: 100px;
        height: 4px;
        background-color: #990000; } }
    @media (max-width: 991px) and (max-width: 575px) {
      .cv-main h2::after {
        left: 0;
        width: 110px; } }

.cv-main h3 span {
  font: inherit;
  text-transform: none; }

.cv-main h3 strong {
  display: block;
  color: #990000;
  font-weight: 400;
  font-size: 0.75em;
  line-height: 1.25;
  text-transform: none; }
  @media (max-width: 575px) {
    .cv-main h3 strong {
      margin-top: 0.25rem; }
      .cv-main h3 strong br {
        display: none; } }

.cv-main h4 {
  color: #333;
  font: italic 700 1.125rem/1.4 "Raleway", sans-serif; }

.cv-main p,
.cv-main ul {
  margin-bottom: 1.25rem;
  color: #333;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif; }
  @media screen and (max-width: 480px) {
    .cv-main p,
    .cv-main ul {
      font-size: 1rem; } }
  .cv-main p a,
  .cv-main ul a {
    color: #990000; }
    .cv-main p a:hover, .cv-main p a:focus,
    .cv-main ul a:hover,
    .cv-main ul a:focus {
      color: #2e2e2e; }

.cv-main .job-description-list,
.cv-main .portfolio-list {
  list-style: none;
  padding-left: 0; }

.cv-main .job-description-list {
  list-style-type: circle; }

.cv-main .portfolio-list {
  list-style: square inside none; }
  @media (max-width: 575px) {
    .cv-main .portfolio-list {
      list-style-position: outside; } }
  .cv-main .portfolio-list li::marker {
    color: #990000; }
  .cv-main .portfolio-list a {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    word-break: break-all; }
    .cv-main .portfolio-list a::after {
      position: absolute;
      top: 50%;
      right: -1rem;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      content: '\e90b';
      font: normal 1.25em/1 'icomoon';
      opacity: 0;
      -webkit-transition: inherit;
      -o-transition: inherit;
      transition: inherit; }
    .cv-main .portfolio-list a:hover::after, .cv-main .portfolio-list a:focus::after {
      right: -2rem;
      opacity: 1; }
    @media screen and (max-width: 480px) {
      .cv-main .portfolio-list a {
        font-size: 0.875rem; }
        .cv-main .portfolio-list a::after {
          right: 0; }
        .cv-main .portfolio-list a:hover::after, .cv-main .portfolio-list a:focus::after {
          right: -1.5rem; } }

.cv-main .cv-main-mini-box {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #ccc; }
  .cv-main .cv-main-mini-box + .cv-main-mini-box {
    padding-top: 1.5rem; }
  .cv-main .cv-main-mini-box:last-child {
    padding-bottom: 0;
    border-bottom: 0; }

.cv-main .skills-list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 991px) {
    .cv-main .skills-list-box {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .cv-main .skills-list-box {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }

.cv-main .skills-list {
  list-style: none;
  padding-left: 0;
  font: italic 600 1rem/1.5 "Montserrat", sans-serif; }
  @media (max-width: 991px) {
    .cv-main .skills-list {
      margin-right: 4rem; } }
  @media (max-width: 767px) {
    .cv-main .skills-list {
      margin-right: 1rem; } }
  @media (max-width: 575px) {
    .cv-main .skills-list {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      margin-right: 0; } }
  .cv-main .skills-list li + li {
    margin-top: 0.25rem; }
  .cv-main .skills-list strong {
    position: relative;
    display: inline-block;
    font: inherit; }
    .cv-main .skills-list strong::before, .cv-main .skills-list strong::after {
      content: '';
      position: absolute;
      top: 50%;
      height: 5px;
      border-radius: 10px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .cv-main .skills-list strong::before {
      background-color: #ccc; }
    .cv-main .skills-list strong::after {
      width: auto;
      background-color: #990000;
      -webkit-transition: all 2s linear;
      -o-transition: all 2s linear;
      transition: all 2s linear; }
  .cv-main .skills-list .bar-100.trigger-bar-animate::after {
    right: 0; }
  .cv-main .skills-list .bar-80.trigger-bar-animate::after {
    right: 20px; }
  .cv-main .skills-list .bar-60.trigger-bar-animate::after {
    right: 40px; }
  .cv-main .skills-list .bar-50.trigger-bar-animate::after {
    right: 50px; }
  .cv-main .skills-list .bar-40.trigger-bar-animate::after {
    right: 60px; }
  .cv-main .skills-list .bar-20.trigger-bar-animate::after {
    right: 80px; }

.cv-main .pro-skills-list strong {
  min-width: 200px; }
  .cv-main .pro-skills-list strong::before, .cv-main .pro-skills-list strong::after {
    left: 100px; }
  .cv-main .pro-skills-list strong::before {
    width: 100px; }
  .cv-main .pro-skills-list strong::after {
    right: 100px; }

.cv-main .personal-skills-list strong {
  min-width: 240px; }
  .cv-main .personal-skills-list strong::before, .cv-main .personal-skills-list strong::after {
    left: 140px; }
  .cv-main .personal-skills-list strong::before {
    width: 100px; }
  .cv-main .personal-skills-list strong::after {
    right: 100px; }

.cv-main .language-skills-list strong {
  min-width: 265px; }
  .cv-main .language-skills-list strong::before, .cv-main .language-skills-list strong::after {
    left: 165px; }
  .cv-main .language-skills-list strong::before {
    width: 100px; }
  .cv-main .language-skills-list strong::after {
    right: 100px; }

.cv-main .hobbies-interests-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  list-style: none;
  padding-left: 0; }
  @media (max-width: 991px) {
    .cv-main .hobbies-interests-box {
      margin-bottom: 0; } }
  @media (max-width: 575px) {
    .cv-main .hobbies-interests-box {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin-left: -1rem;
      margin-right: -1rem; } }
  .cv-main .hobbies-interests-box .int {
    font: 700 0.75rem/1.5 "Raleway", sans-serif;
    text-transform: uppercase; }
    .cv-main .hobbies-interests-box .int::before {
      display: block;
      margin: 0 auto 1rem;
      color: #990000;
      font: normal 3rem/1 'icomoon'; }
    @media (max-width: 575px) {
      .cv-main .hobbies-interests-box .int {
        min-width: 110px;
        margin: 1rem 1rem 0 0;
        padding-left: 1rem;
        padding-right: 1rem; } }
  .cv-main .hobbies-interests-box .int-1::before {
    content: '\e910'; }
  .cv-main .hobbies-interests-box .int-2::before {
    content: '\e912'; }
  .cv-main .hobbies-interests-box .int-3::before {
    content: '\e90c'; }
  .cv-main .hobbies-interests-box .int-4::before {
    content: '\e911'; }
  .cv-main .hobbies-interests-box .int-5::before {
    content: '\e90d'; }
  .cv-main .hobbies-interests-box .int-6::before {
    content: '\e90f'; }
  .cv-main .hobbies-interests-box .int-7::before {
    content: '\e90e'; }

.cv-footer {
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center; }
  .cv-footer::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -2rem;
    right: -2rem;
    width: auto;
    height: 0;
    border-top: 2px solid #2e2e2e; }
    @media (max-width: 991px) {
      .cv-footer::before {
        left: 0;
        right: 0; } }
  .cv-footer h3 {
    margin-bottom: 1.75rem;
    color: #2e2e2e;
    font: 600 2rem/1.1 "Montserrat", sans-serif;
    text-transform: uppercase; }
  .cv-footer .cv-social-link {
    position: relative;
    display: inline-block;
    margin: 0 0.75rem; }
    .cv-footer .cv-social-link span {
      position: absolute;
      top: -2rem;
      left: -3.5rem;
      min-width: 10rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      color: #fff;
      font-family: "Raleway", sans-serif;
      opacity: 0;
      pointer-events: none;
      -webkit-transition: inherit;
      -o-transition: inherit;
      transition: inherit; }
      .cv-footer .cv-social-link span::after {
        content: '';
        position: absolute;
        bottom: -1.75rem;
        right: 0;
        left: 0;
        width: 0;
        height: 0;
        margin: 0 auto;
        border: 1rem solid transparent;
        border-top: 0.75rem solid; }
    .cv-footer .cv-social-link::after {
      display: block;
      font: normal 3rem/1 'icomoon'; }
    .cv-footer .cv-social-link:hover span {
      top: -4.5rem;
      opacity: 1;
      pointer-events: all; }
  .cv-footer .cv-linkedin-link {
    color: #0077b7; }
    .cv-footer .cv-linkedin-link span {
      background-color: #0077b7; }
      .cv-footer .cv-linkedin-link span::after {
        border-top-color: #0077b7; }
    .cv-footer .cv-linkedin-link::after {
      content: '\e904'; }
  .cv-footer .cv-facebook-link {
    color: #475993; }
    .cv-footer .cv-facebook-link span {
      background-color: #475993; }
      .cv-footer .cv-facebook-link span::after {
        border-top-color: #475993; }
    .cv-footer .cv-facebook-link::after {
      content: '\e902'; }

/*# sourceMappingURL=../maps/main.css.map */
